---
---
<style>
    span {
        color: var(--color-highlight);
        font-size: 2.2rem;
        cursor: pointer;
        text-decoration: underline;
        margin-left: auto;
    }
</style>

<span>Toggle Dark</span>