.recent-header {
    border-bottom: var(--standard-border-style);
    padding-bottom: 4px;
}

.recent-header-browse {
    margin-left: auto;
    margin-right: 0;
    float: right
}

.entry-container {
    display: block;
    margin: 20px 0;
    text-decoration: none;
    padding: 5px 0;

    &:hover {
        .underline-on-hover {
            text-decoration: underline;
        }
    }
}

.entry-title {
    color: var(--color-foreground);
    font-size: 35px;
    text-decoration: none;
}

.entry-date {
    margin-left: auto;
    color: var(--color-foreground);

}
.entry-header {
    display: flex;
    align-items: flex-end;
    padding-bottom: 4px;
    border-bottom: var(--standard-border-style);
}

.entry-excerpt {
    padding: 10px;
    color: var(--color-foreground);
}