---
import Layout from "@layouts/Layout.astro";
import SplitHeader from "@components/SplitHeader.astro";
import {getCollection} from "astro:content";
import { formatDate } from "@utils/dates";
import BlogEntryListing from "../../components/blog/BlogEntryListing.astro";

const blogEntries = await getCollection('blog', ({data}) => {
  return data.draft === false;
});

const sortedEntries = blogEntries.sort((a, b) => (
  b.data.date - a.data.date
))

const first5 = sortedEntries.slice(0, 4);
---
<style lang="scss">
  .entry-container {
    display: block;
    margin: 20px 0;
    text-decoration: none;
    padding: 5px 0;
    color: var(--color-foreground);

  &
  :hover {

  .underline-on-hover {
    text-decoration: underline;
  }

  }
  }

  .entry-title {
    color: var(--color-foreground);
    font-size: 35px;
    text-decoration: none;
  }

  .entry-excerpt {
    padding: 10px;
    color: var(--color-foreground);
  }
</style>

<Layout title="Blog">
  <header>
    <h1>
      Blog
    </h1>
    <section>
      Here's where I put informative articles, opinion pieces, and general musings of questionable value.
    </section>
  </header>
  <SplitHeader>
    <span>Recent Posts</span>
    <a href="/blog/browse/1" slot="right-side">Browse</a>
  </SplitHeader>
  {!first5.length ? 'Nothing yet! Check back later.' : (blogEntries.map(({slug, data}) => (
    <BlogEntryListing slug={slug} data={data} />
  )))}
</Layout>