---
---
<style>
    footer {
        border-top: var(--standard-border-style);
        padding-top: 1em;
        margin-top: 2em;
        font-size: 1.4rem;
    }
</style>
<footer>
    <section>
        Copyright 2023 Rob Bailey. All source code for this website is licensed under the terms of{' '}
        <a href="https://www.mozilla.org/en-US/MPL/2.0/">MPL 2.0</a>, or the applicable license for used
        libraries. All writing and content on this website is the sole ownership of Rob Bailey, unless otherwise
        indicated, and may be used licensed under{' '}
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>. Contact me for usage that
        would not comply with that license. Any and all opinions are my own and not representative of my employers;
        future, past, and present.
    </section>
    <section>
        Check out the source for this website{' '}
        <a href="https://github.com/actioninja/critical-action/tree/prod">here,</a> and a writeup on the
        functionality <a href="/blog/about-this-site">here.</a>
    </section>
</footer>