---
import Layout from "@layouts/Layout.astro";
---
<Layout title="404">
    <h1>404: Not Found</h1>
    <section>
        The page you're looking for wasn't found. Hopefully that wasn't a link to something important.
    </section>
</Layout>