.project-entry-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-entry {
    margin: 0 0.4em;
}

.toggle-button {
    font-style: italic;
    text-align: center;
    color: var(--color-highlight);
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

$width-breakpoint: 30em;

@media screen and (max-width: $width-breakpoint) {
    .project-entry {
        flex-grow: 1;
        width: 100%;
    }
}

@media screen and (min-width: $width-breakpoint) {
    .project-entry {
        flex-grow: 1;
        width: 40%;
    }
}